html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.main_container{
	margin-left:8%;
	margin-right:8%;
	margin-top: 20px;

}

#profile_image{
	height: 250px;
	width: 90%;
	border-radius: 5%;
}

#col1_section3 div{
	/*display: inline-block;*/
}

.bar{
	width: 7%;
	height: 10px;
	background-color: #bbb;
	display: inline-block;
	margin: none;
	padding: 0px;
}

.bar1{
	height: 30px;
}

.bar2, .bar5, .bar9{
	height: 10px;
}

.bar4{
	height: 15px;
}

.bar3, .bar6, .bar8{
	height: 4px;
}

.bar7{
	height: 13px;
}

hr{
	border-top: 1px solid #ddd;
}





#header {
  background:#f5f5f5;
  border-bottom:1px solid #e5e5e5;
}

#content {
  clear:both;
}

#search-input {
  width:350px;
  height:30px;
  margin-top:10px;
  float:left;
}

#profile {
  float:right;
  list-style:none;
  margin-top: 10px;
}

#profile li {
 display: inline-block;
}

#nav {
  float:left;
  list-style:none;
  font-size:13px;
  padding-left:0;
  margin-top: 10px;
}

#nav li {
  float:left;
  padding:4px 8px;
}

#nav li a {
  color:#333;
  text-decoration:none;
  font-weight:bold;
  line-height:20px;
}

#activity {
  width:70%;
  float:left;
  height:500px;
  background:red;
}
#repositories {
  width:20%;
  float:right;
  height:500px;
  background:blue;
}

.fa-github{
	float: left;
    margin-top: 5px;
    margin-right: 10px;

}

.nav_inner{
	margin: auto 10%;
}

.inline{
	display: inline-block;
}

.blue, .blue_title{
	color: #4078c0;
}

.lightgrey{
	color: #aaa;
}



.stats_num{
	font-size: 2em;
	font-weight: bold;
	text-align: center;
	margin-bottom: -6px;
}

.stats_type{
	color: #aaa;
}

#col1_section1 h3{
	margin-top: -9px;
	font-weight: 400;
	color: #888;
}

.tab{
	border-bottom: 1px solid #ddd;
}

.tab_repo{
	border-top: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd; 
}

.row1{
	margin-bottom: 10px;
}

.btn-default{
	background-color: #eee;
}

.sources{
	list-style: none;
	display: inline-block;
	margin-top: 10px;
}

.sources li{
	display: inline-block;
	margin: auto 2px;
}

.sources2{
	text-align: right;
}

.btn-success{
	margin-right: 3px;
}

.hr_small{
	width: 81%;
    margin-left: 0px;
}

